<div class="col-xl-4 col-sm-6">
  <div class="new-arrival-item text-center mb-50">
      <div class="thumb mb-25">
          <a href="{% url 'app:product_detail' product.slug %}"><img src="img/product/n_arrival_product01.jpg" alt=""></a>
          <div class="product-overlay-action">
              <ul>
                  <li><a href="{% url 'app:add_to_cart' product.id %}"><i class="far fa-heart"></i></a></li>
                  <li><a href="{% url 'app:product_detail' product.slug %}"><i class="far fa-eye"></i></a></li>
              </ul>
          </div>
      </div>
      <div class="content">
          
        <img src="{{ product.image.url }}" alt="{{ product.title }}" class="img-fluid mb-4" style="max-height: 200px; min-height: 200px; object-fit: cover;">

          <h5><a href="{% url 'app:product_detail' product.slug %}">{{ product.title }}</a></h5>
          <p>{{ product.description }}</p>
      </div>
  </div>
</div>