{% load static %}
<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Varpardo Deals - {% block title %}
          
        {% endblock title %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
        <!-- Place favicon.ico in the root directory -->

		<!-- CSS here -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'css/jarallax.css' %}">
        <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
        <link rel="stylesheet" href="{% static 'css/slick.css' %}">
        <link rel="stylesheet" href="{% static 'css/default.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    </head>
    <body>


        <!-- preloader  -->
        <!-- <div id="preloader">
            <div id="ctn-preloader" class="ctn-preloader">
                <div class="animation-preloader">
                    <div class="spinner"></div>
                </div>
                <div class="loader">
                    <div class="row">
                        <div class="col-3 loader-section section-left">
                            <div class="bg"></div>
                        </div>
                        <div class="col-3 loader-section section-left">
                        </div>
                        <div class="col-3 loader-section section-right">
                            <div class="bg"></div>
                        </div>
                        <div class="col-3 loader-section section-right">
                            <div class="bg"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- preloader end -->


		<!-- Scroll-top -->
        <button class="scroll-top scroll-to-target" data-target="html">
            <i class="fas fa-angle-up"></i>
        </button>
        <!-- Scroll-top-end-->

        <!-- header-area -->
        <header>
            <div class="header-top-wrap">
                <div class="container custom-container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-xl-3 col-lg-4 d-none d-lg-block">
                            <div class="logo">
                                <img src="{% static 'img/logo/Varpardo.png' %}" alt="" class="img-fluid" style="width: 100px; height: 50px;">                            </div>
                        </div>
                        
                        <div class="col-lg-3 col-md-6">
                            <div class="header-top-action">
                                <ul>
                                    {% if request.user.customer %}
                                      Welcome, {{ request.user.username}}
                                      <li class="sign-in mr-3 ml-5"><a href="{% url 'app:customerprofile' %}">Profile</a></li>
                                      <li class="sign-in mr-3 ml-5"><a href="{% url 'app:customerlogout' %}">Sign out</a></li>
                                      

                                      {% else %}
                                    
                                    <li class="sign-in"><a href="{% url 'app:customerregistration' %}">Sign Up</a></li>
                                    <li class="sign-in"><a href="{% url 'app:customerlogin' %}">Sign In</a></li>
                                    {% endif %}
                                    <li class="wish-list"><a href=""><i class="flaticon-heart-shape-outline"></i></a></li>
                                    <li class="header-shop-cart"><a href="{% url 'app:cart_view' %}"><i class="flaticon-shopping-bag"></i><span></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sticky-header" class="main-header menu-area black-bg">
                <div class="container custom-container">
                    <div class="row">
                        <div class="col-12">
                            <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
                            <div class="menu-wrap">
                                <nav class="menu-nav show">
                                    <div class="logo d-block d-lg-none">
                                        <a href="index.html" class="main-logo"><img src="{% static 'img/logo/w_logo.png' %}" alt="Logo"></a>
                                        <a href="index.html" class="sticky-logo">Varpardo Deals</a>
                                    </div>
                                    <div class="navbar-wrap main-menu d-none d-lg-flex">
                                        <ul class="navigation">
                                            <li class=""><a href="{% url 'app:home' %}">Home</a>

                                            </li>
                                            <li><a href="{% url 'app:category' %}">Categories</a></li>
                                            <li><a href="{% url 'app:about' %}">About Us</a></li>
                                            <li><a href="{% url 'app:contact' %}">Contact Us</a></li>
                                        </ul>
                                    </div>
                                    <div class="header-action d-none d-md-block">
                                        <ul>
                                            <li class="shipping-offer">Free Shipping on Orders <span>$39+</span></li>
                                            <li class="header-search"><a href="#" data-toggle="modal" data-target="#search-modal"><i class="flaticon-search-interface-symbol"></i></a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                            <div class="modal fade" id="search-modal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="searchModalLabel">Search</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="GET" action="{% url 'app:search' %}">
                                                <div class="input-group">
                                                    <input type="text" name="keyword" class="form-control" placeholder="Search..." required>
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary" type="submit">
                                                            <i class="flaticon-search-interface-symbol"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Mobile Menu  -->
                            
                    </div>
                </div>
            </div>

         

        </header>
        {% block content %}
          
        {% endblock content %}

        <footer class="gray-bg footer-style-two pt-75">
          <div class="container">
              <div class="footer-top-wrap">
                  <div class="row">
                      <div class="col-12">
                          <div class="footer-logo">
                              <a href="index.html"><img src="{% static 'img/logo/logo.png' %}" alt=""></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="footer-middle-wrap pt-45 pb-20">
                  <div class="row">
                      <div class="col-lg-3 col-sm-6">
                          <div class="footer-widget mb-50">
                              <h4 class="fw-title">COMPANY</h4>
                              <div class="fw-link">
                                  <ul>
                                      <li><a href="about-us.html">About Us</a></li>
                                      <li><a href="shop.html">Store Locations</a></li>
                                      <li><a href="contact.html">Contact</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-3 col-sm-6">
                          <div class="footer-widget mb-50">
                              <h4 class="fw-title">STORE</h4>
                              <div class="fw-link">
                                  <ul>
                                      <li><a href="#">Order Tracking</a></li>
                                      <li><a href="#">Privacy Policy</a></li>
                                      <li><a href="#">Terms & Conditions</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      
                      <div class="col-lg-3 col-sm-6">
                          <div class="footer-widget mb-50">
                              <h4 class="fw-title">FOLLOW US</h4>
                              <div class="footer-text">
                                  <p>Get Free Shipping on all your orders!</p>
                                  <div class="footer-social">
                                      <ul>
                                          <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                          <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                          <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                          <li><a href="#"><i class="fab fa-google"></i></a></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="copyright-wrap">
              <div class="container">
                  <div class="row align-items-center">
                      <div class="col-lg-6">
                          <div class="copyright-text">
                              <p>&copy; 2024 <a href="index.html">Varpardo Deals</a>. All Rights Reserved | Ph (+977) 9748888888</p>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="pay-method-img">
                              <img src="{% static 'img/images/payment_method_img.png' %}" alt="">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </footer>
      <!-- footer-area-end -->





  <!-- JS here -->
      <script src="{% static 'js/vendor/jquery-3.5.0.min.js' %}"></script>
      <script src="{% static 'js/popper.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
      <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
      <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
      <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
      <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
      <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
      <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
      <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
      <script src="{% static 'js/jarallax.min.js' %}"></script>
      <script src="{% static 'js/slick.min.js' %}"></script>
      <script src="{% static 'js/wow.min.js' %}"></script>
      <script src="{% static 'js/nav-tool.js' %}"></script>
      <script src="{% static 'js/plugins.js' %}"></script>
      <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
