{% extends "base.html" %} {% load static %} {% block title %} Cart {% endblock title %} {% block content %}
<main>
    <div class="cart-area pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="cart-wrapper">
                        {% include "Cart/carttable.html" %}
                        {% include "Cart/cartbottom.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}