{% extends "base.html" %}
{% load static %}
{% block title %}
  Categories
{% endblock title %}
{% block content %}
<main>
  <section class="shop-area pt-100 pb-100">
      <div class="container">
          <div class="row">
              <div class="col-xl-9 col-lg-8">
                  {% include "Categories/top.html" %}

                  {% if page_obj %}
                  <div class="row">
                    {% for product in page_obj %}
                      {% include "Categories/content.html" %}
                    {% endfor %}
                  </div>
                  {% include "Categories/pagination.html" %}
                
                  {% else %}
                    <p>No products available for this category. Select another one.</p>
                  {% endif %}
              </div>
              <div class="col-xl-3 col-lg-4">
                  <aside class="shop-sidebar">
                    {% include "Categories/categories_list.html" %}
                  </aside>
              </div>
          </div>
      </div>
  </section>
</main>
{% endblock content %}
