{% extends "base.html" %}
{% block title %}
  Checkout
{% endblock title %}
{% block content %}
<main>
  <!-- checkout-area -->
  <section class="checkout-area pt-95 pb-95">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-7">
                  <div class="checkout-wrap">
                      {% include "Checkout/checkout_top.html" %}
                      {% include "Checkout/checkout_form.html" %}
                      
                  </div>
              </div>
              <div class="col-lg-5 col-md-8">
                  {% include "Checkout/checkout_side.html" %}
              </div>
          </div>
      </div>
  </section>
</main>
{% endblock content %}