{% extends "base.html" %}
{% load humanize %}
{% block title %}
{{ product.title }}
{% endblock title %}
{% block content %}
<main>
    <section class="shop-details-area pt-100 pb-95">
        <div class="container">
            {% include "Product_detail/product_image.html" %}
            <div class="row">
                <div class="col-12">
                    <div class="product-desc-wrap">
                        {% include "Product_detail/tab_list.html" %}
                        <div class="tab-content">
                            {% include "Product_detail/description_guide.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</main>
<!-- main-area-end -->
{% endblock content %}